@font-face {
  font-family: "Aventa";
  src: url("./Font/aventa/Aventa-LightItallicPERSONALUSEONLY.otf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: "woman";
  src: url("./Font/woman/BeautyDisplayRegular.ttf");
}

.aventa {
  font-family: "Aventa";
}

.woman {
  font-family: "woman";
}

#header {
  background-image: url("assets/novo-header.webp"); /* Imagem para desktop */
}

@media (max-width: 768px) {
  #header {
    background-image: url("assets/novo-header-mobile.png"); /* Imagem para mobile */
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

html {
  scroll-behavior: smooth;
}
